.app{
    background-color: #dadbd3;
    display: grid; /* to arrange childs in grid type view */
    place-items: center; /* Palce all the childs in the center */
    height: 100vh;
}

.app__body{
    display: flex;
    background-color: #ededed;
    height: 100%;
    width: 100%;
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.7);
}